<div class="page-header">
  <h1>Idea Image #<%= @idea_image.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Url</dt>
  <dd><%= @idea_image.url %></dd>

  <dt>Idea</dt>
  <dd><%= @idea_image.idea_id %></dd>

</dl>
