<div class="page-header">
  <h1>Idea Image #<%= @idea_image.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Image</dt>
  <dd><%= @idea_image.image %></dd>

  <dt>Idea</dt>
  <dd><%= @idea_image.idea.title %></dd>

  <dt>Image</dt>
  <dd><%= image_tag @idea_image.image, :width => 100 %></dd>

</dl>







