<div class="page-header">
  <h1>Portfolio Image #<%= @portfolio_image.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Image</dt>
  <dd><%= @portfolio_image.image %></dd>

  <dt>Artist</dt>
  <dd><%= @portfolio_image.artist.full_name %></dd>

  <dt>Image</dt>
  <dd><%= image_tag @portfolio_image.image, :height => 200 %></dd>

</dl>
