<div class="page-header">
  <h1>Bid #<%= @bid.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Idea</dt>
  <dd><%= @bid.idea.title %></dd>

  <dt>Artist</dt>
  <dd><%= @bid.artist.full_name %></dd>

</dl>
