<body>

<br></br>
<div class="container">

<p></p>

      
  <div class="jumbotron">
    <div class="container">
      <h1>Ardeea</h1>
      <p>Art custom made for you</p>

    </div>
  </div>
</div>
<!--
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Art custom made for you <small>Your unique ideas come to life!</small></h1>
        </div>
      </div>
    </div>
  </div>
-->
<!--
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Getting started</h3>
        <p class="lead"><em>Details of how this works</em></p>
        <a class="btn btn-info btn-large" href="#">Learn More</a>
      </div>
      <div class="col-md-4">
        <h3>Buyers</h3>
        <p class="lead"><em>Post an idea!</em></p>
        <a class="btn btn-info btn-large" href="http://localhost:3000/post_idea">Post idea</a>
      </div>
      <div class="col-md-4">
        <h3>Artists</h3>
        <p class="lead"><em>See posted projects</em></p>
        <a class="btn btn-info btn-large" href="#">Projects</a>
      </div>
    </div>
  -->
    <br></br>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <img src="Workflow.png">
      </div>
      <div class="col-md-1"></div>
    </div>

    <br></br>
  
    <div class="row">
      <div class="col-md-3">
       <!-- <h3>Testimonial (25%)</h3> -->
        <blockquote>
          <p>This product changed my life!</p>
          <small>A satisfied user</small>
        </blockquote>
      </div>
      <div class="col-md-3">
        <!-- <h3>Testimonial (25%)</h3> -->
        <blockquote>
          <p>Best thing since sliced bread.</p>
          <small>A satisfied user</small>
        </blockquote>
      </div>
      <div class="col-md-3">
        <!-- <h3>Testimonial (25%)</h3> -->
        <blockquote>
          <p>I love my new painting!</p>
          <small>A satisfied user</small>
        </blockquote>
      </div>
      <div class="col-md-3">
        <!-- <h3>Testimonial (25%)</h3> -->
        <blockquote>
          <p>Simply fantastic!</p>
          <small>A satisfied user</small>
        </blockquote>
      </div>
    </div>

  </div>

</body>
</html>