<div class="page-header">
  <h1>Buyer #<%= @buyer.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @buyer.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @buyer.last_name %></dd>

  <dt>Email</dt>
  <dd><%= @buyer.email %></dd>

</dl>
